body {
    font-family: Arial, sans-serif;
}
/* Default Light Theme */
body.light-theme {
    background-color: white;
    color: black;
}

/* Dark Theme */
body.dark-theme {
    background-color: black;
    color: white;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button.delete {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #ff0000;
}

button.update {
    background-color: #3b72ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.update:hover {
    background-color: #0022ff;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
